.carousel {
    .carousel-inner {
        .carousel-item {
            position: relative;
            height: 885px;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;

            .background-video {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .blackout {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                background-color: rgba($black, .5);
            }

            .banner-text-box {
                position: absolute;
                right: 0;
                bottom: 12%;
                left: 0;
                z-index: 1;

                .container {
                    &--on-banner {
                        padding-right: calc(130px + (calc(var(--bs-gutter-x)*.5)));
                        padding-left: calc(130px + (calc(var(--bs-gutter-x)*.5)));

                        .main-title {
                            @media (max-width: 991px) {
                                font-size: 2.917rem;
                                line-height: 1.143;
                            }

                            @media (max-width: 767px) {
                                font-size: 2.292rem;
                            }

                            @media (max-width: 575px) {
                                font-size: 2.083rem;
                                line-height: 1;
                            }

                            @media (max-width: 479px) {
                                font-size: 1.25rem;
                            }
                        }

                        .top-banner-text {
                            width: 66.667%;
                            color: $white;
                            margin-bottom: 0;

                            @media (max-width: 1799px) {
                                width: 82%;
                            }

                            @media (max-width: 1799px) {
                                width: 100%;
                            }

                            @media (max-width: 1199px) {
                                width: 80%;
                            }

                            @media (max-width: 991px) {
                                width: 90%;
                                font-size: 1.458rem;
                                line-height: 1.286;
                            }

                            @media (max-width: 767px) {
                                display: none;
                            }
                        }

                        .button--register {
                            display: block;
                            width: fit-content;
                            font-size: clamp(24px, 1.563vw, 30px);
                            font-weight: 700;
                            line-height: 1;
                            color: $white;
                            text-transform: uppercase;
                            border: 1px solid $white;
                            padding: 0.583em 2.233em;
                            margin-top: clamp(30px, 3.385vw, 65px);

                            &:hover {
                                color: $color06;
                                background-color: rgba($white, .75);

                            }

                            @media (max-width: 575px) {
                                display: none;
                            }
                        }

                        @media (max-width: 1199px) {
                            padding-right: calc(var(--bs-gutter-x)*.5);
                            padding-left: calc(var(--bs-gutter-x)*.5);
                        }
                    }
                }

                @media (max-width: 575px) {
                    bottom: 15px;
                }
            }

            .social-media-stripe {
                position: absolute;
                top: calc(50% - (256px / 2));
                right: 8px;
                z-index: 1;

                .social-media__link {
                    display: block;
                    border: 1px solid $white;
                    padding: 5.5px 17px;
                    margin-bottom: 8px;

                    &::after {
                        font-family: 'dockb-font-icons';
                        font-size: 30px;

                        @media (max-width: 767px) {
                            font-size: 25px;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:hover {
                        background-color: rgba($white, .5);
                    }

                    &--xing {
                        &::after {
                            content: $iconXing;
                            color: $color04;
                        }
                    }

                    &--linkedin {
                        &::after {
                            content: $iconLinkedIn;
                            color: $color05;
                        }
                    }

                    &--facebook {
                        &::after {
                            content: $iconFacebook;
                            color: $color06;
                        }
                    }

                    &--instagram {
                        &::after {
                            content: $iconInstagram;
                            color: $white;
                            background-color: $color07;
                            border-radius: 10px;
                        }
                    }

                    @media (max-width: 1199px) {
                        padding: 5px 15px;
                    }

                    @media (max-width: 991px) {
                        padding: 4px 13px;
                    }

                    @media (max-width: 767px) {
                        padding: 2px 10px;
                        margin-bottom: 5px;
                    }
                }

                @media (max-width: 1199px) {
                    top: calc(50% - (252px / 2));
                }

                @media (max-width: 991px) {
                    top: calc(50% - (244px / 2));
                }

                @media (max-width: 767px) {
                    top: calc(50% - (191px / 2));
                    right: 5px;
                }

                @media (max-width: 575px) {
                    display: none;
                }
            }

            @media (max-width: 1799px) {
                height: 825px;
            }

            @media (max-width: 1499px) {
                height: 690px;
            }

            @media (max-width: 1199px) {
                height: 550px;
            }

            @media (max-width: 991px) {
                height: 455px;
            }

            @media (max-width: 767px) {
                height: 355px;
            }

            @media (max-width: 575px) {
                height: 265px;
            }

            @media (max-width: 479px) {
                height: 220px;
            }
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 5%;

        @media (max-width: 1199px) {
            display: none;
        }
    }

    .carousel-control-prev {
        left: 6px;
    }

    .carousel-control-next {
        right: 80px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 1rem;
        height: 1rem;
    }
}