//Load fonts

/* Dinot - 400 */
@font-face {
    font-display: swap;
    font-family: 'Dinot';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/dinot.eot');
    src: url('./fonts/dinot.eot') format('embedded-opentype'),
        url('./fonts/dinot.woff2') format('woff2'),
        url('./fonts/dinot.woff') format('woff'),
        url('./fonts/dinot.ttf') format('truetype'),
        url('./fonts/dinot.svg') format('svg'),
        url('./fonts/dinot.otf') format('otf'),
        url('./fonts/dinot.pfb') format('pfb');

}

/* Dinot - 700 */
@font-face {
    font-display: swap;
    font-family: 'Dinot';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/dinot-bold.eot');
    src: url('./fonts/dinot-bold.eot') format('embedded-opentype'),
        url('./fonts/dinot-bold.woff2') format('woff2'),
        url('./fonts/dinot-bold.woff') format('woff'),
        url('./fonts/dinot-bold.ttf') format('truetype'),
        url('./fonts/dinot-bold.svg') format('svg'),
        url('./fonts/dinot-bold.otf') format('otf'),
        url('./fonts/dinot-bold.pfb') format('pfb');
}

//Fonts
$dinot: 'Dinot',
sans-serif;

//Font-icons
@import "font-icons";

//colors
$white: #ffffff;
$black: #000000;
$color01: #343a40;
$color02: #6fb4dc;
$color03: #5b7595;
$color04: #5da420;
$color05: #168da7;
$color06: #1b74e4;
$color07: #fe0079;



html {
    font-size: 24px;
}

body {
    min-width: 320px;
}

h1 {
    font-family: $dinot;
    font-size: 4.167rem; //100px
    font-weight: 700;
    line-height: 1.4;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0;

    @media (max-width: 1499px) {
        font-size: 3.75rem; //90px
    }

    @media (max-width: 1199px) {
        font-size: 3.333rem; //80px
    }
}

h2 {
    font-family: $dinot;
    font-size: 2.083rem; //50px
    font-weight: 700;
    line-height: 1.5;
    color: $color01;
    text-transform: uppercase;
    margin-bottom: 0.8em;

    @media (max-width: 1499px) {
        font-size: 1.875rem; //45px
    }

    @media (max-width: 1199px) {
        font-size: 1.667rem; //40px
    }

    @media (max-width: 767px) {
        font-size: 1.458rem; //35px
    }

    @media (max-width: 479px) {
        font-size: 1.125rem; //27px
    }
}

h3 {
    font-family: $dinot;
    font-size: 1.875rem; //45px
    font-weight: 700;
    line-height: 1.5;
    color: $color01;
    text-transform: uppercase;
    margin-bottom: 0.8em;

    @media (max-width: 1499px) {
        font-size: 1.667rem; //40px
    }

    @media (max-width: 1199px) {
        font-size: 1.458rem; //35px
    }

    @media (max-width: 767px) {
        font-size: 1.25rem; //30px
    }

    @media (max-width: 479px) {
        font-size: 1.042rem; //25px
    }
}

p {
    font-family: $dinot;
    font-size: 1rem; //24px
    font-weight: 400;
    line-height: 1.667;
    color: $color01;
    margin-bottom: 1.667em;

    &:last-child {
        margin-bottom: 0;
    }

    @media (max-width: 1499px) {
        font-size: 0.917rem; //22px
    }

    @media (max-width: 1199px) {
        font-size: 0.833rem; //20px
    }

    @media (max-width: 767px) {
        font-size: 0.75rem; //18px
    }

    @media (max-width: 479px) {
        font-size: 0.667rem; //16px
    }
}

a {
    font-family: $dinot;
    font-size: 1rem;
    font-weight: 400;
    color: $color01;
    word-wrap: break-word;
    text-decoration: none;
    transition: all 0.33s;

    &:hover {
        color: $color02;
    }
}

ol,
ul {
    li {
        font-family: $dinot;
        font-size: 1rem; //24px
        font-weight: 400;
        line-height: 1.667;
        color: $color01;

        @media (max-width: 1499px) {
            font-size: 0.917rem; //22px
        }

        @media (max-width: 1199px) {
            font-size: 0.833rem; //20px
        }

        @media (max-width: 767px) {
            font-size: 0.75rem; //18px
        }

        @media (max-width: 479px) {
            font-size: 0.667rem; //16px
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}